body {
  font-family: sans-serif;
  text-align: center;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
}

.screen {
  padding: 20px;
}

button {
  font-size: 1.2em;
  margin: 10px;
  padding: 10px 20px;
}
